fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-multipart
redis
celery
loguru
orjson
pytest
httpx
bcrypt
pymupdf
langchain-text-splitters
aiofiles
watchfiles
sentence_transformers
chromadb